<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="APACHEFOLDER" Name="Apache Software Foundation">
				<Directory Id="APACHE24" Name="Apache2.4">
					<Directory Id="INSTALLFOLDER" Name="modules" />
				</Directory>
			</Directory>
		</StandardDirectory>
	</Fragment>
</Wix>
